/UnityPackageManager
/Library
/Temp
/Logs
/.vs
/obj
/xasset.editor.csproj
/xasset.example.csproj
/xasset.example.editor.csproj
/xasset.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.csproj~e79bb5e2abeb9ccf938b82b232beeac93a2e01c0
/Unity.AssetBundleBrowser.Editor.csproj
/Unity.AssetBundleBrowser.Editor.Tests.csproj
/UnityForTest.sln
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj~e79bb5e2abeb9ccf938b82b232beeac93a2e01c0
/Bundles
/.vs
/Logs
/xasset.csproj
/xasset.editor.csproj
/xasset.example.csproj
/xasset.example.editor.csproj
/ShaderSRT.unitypackage
/UserSettings/EditorUserSettings.asset
/UserSettings/Layouts/default-2021.dwlt
/Assembly-CSharp-firstpass.csproj
/Unity.RemoteFileExplorer.Editor.csproj
/Unity.RemoteFileExplorer.csproj
/UnityForTest.Plugins.csproj
/UnityForTest.csproj
/UserSettings/Search.settings
/Coffee.CFX_Demo_With_UIParticle.csproj
/Coffee.UIParticle.Demo.csproj
/Coffee.UIParticle.Editor.csproj
/Coffee.UIParticle.csproj
/UserSettings/Search.index
/UserSettings/Layouts
/MemoryCaptures/Snapshot-637841962809536113.png
/MemoryCaptures/Snapshot-637841962809536113.snap
/MemoryCaptures/Snapshot-637841962852241947.png
/MemoryCaptures/Snapshot-637841962852241947.snap
/Server/.vs
