/UnityPackageManager
/Library
/Temp
/obj
/UserSettings
/Assembly-CSharp-firstpass.csproj
/ShaderSRT.unitypackage
/Unity.RemoteFileExplorer.csproj
/Unity.RemoteFileExplorer.Editor.csproj
/UnityForTest.csproj
/UnityForTest.Plugins.csproj
/UnityForTest.sln
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Bundles
/.vs
/Logs
/xasset.csproj
/xasset.editor.csproj
/xasset.example.csproj
/xasset.example.editor.csproj
